#Document retrieval from wikipedia data

#Import pandas

In [2]:
import pandas as pd

#Load some text data - from wikipedia, pages on people

In [3]:
people = pd.read_csv('people_wiki.csv')

Data contains:  link to wikipedia article, name of person, text of article.

In [4]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [5]:
len(people)

59071

#Explore the dataset and checkout the text it contains

##Exploring the entry for president Obama

In [6]:
obama = people[people['name'] == 'Barack Obama']

In [7]:
obama

,URI,name,text
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...

In [8]:
obama['text'].values

array(['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba'],
      dtype=object)

##Exploring the entry for actor George Clooney

In [9]:
clooney = people[people['name'] == 'George Clooney']
clooney['text']

38514    george timothy clooney born may 6 1961 is an a...
Name: text, dtype: object

#Get the word counts for Obama article

In [10]:
from collections import Counter
word_count = []
count = Counter(str(obama.text.values).split())
word_count.append(count)

In [11]:
obama['word_count'] = word_count
obama.head()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,URI,name,text,word_count
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...,"{'['barack': 1, 'hussein': 1, 'obama': 9, 'ii'..."

##Sort the word counts for the Obama article

###Turning dictonary of word counts into a table

In [12]:
obama_word_count_table = pd.DataFrame(sorted(count.items(),key=lambda pair: pair[1],reverse=True))

###Sorting the word counts to show most common words at the top

In [13]:
obama_word_count_table.head()

     0   1
0  the  40
1   in  30
2  and  21
3   of  18
4   to  14

Most common words include uninformative words like "the", "in", "and",... Doesn't have much meaning!!

#Compute TF-IDF for the corpus 

To give more weight to informative words, we weigh them by their TF-IDF scores.

In [14]:
freq_count = []
for item in people['text']:
    count = Counter(str(item).split())
    freq_count.append(count)
people['word_count'] = freq_count
people.head()

,URI,name,text,word_count
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,"{'digby': 1, 'morrell': 5, 'born': 1, '10': 1,..."
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,"{'alfred': 1, 'j': 1, 'lewy': 3, 'aka': 1, 'sa..."
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,"{'harpdog': 2, 'brown': 2, 'is': 7, 'a': 7, 's..."
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"{'franz': 1, 'rottensteiner': 3, 'born': 1, 'i..."
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,"{'henry': 1, 'krvits': 1, 'born': 1, '30': 1, ..."

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [56]:
tfidfVect = TfidfVectorizer()
tfidf = tfidfVect.fit_transform(people['text'])
tfidf

<59071x548429 sparse matrix of type '<class 'numpy.float64'>'
	with 10244028 stored elements in Compressed Sparse Row format>

In [57]:
print(tfidf)

  (0, 160652)	0.09377484096114971
  (0, 336162)	0.5151776851532417
  (0, 96612)	0.012817255065954401
  (0, 704)	0.03350953071413243
  (0, 359577)	0.029493401402676842
  (0, 11143)	0.036415320435667135
  (0, 259893)	0.010385827391862295
  (0, 203171)	0.023824215532529995
  (0, 72887)	0.11754176903095465
  (0, 427313)	0.048779520719894734
  (0, 202230)	0.04283717911908677
  (0, 530685)	0.019302526893852503
  (0, 386988)	0.07717627857142736
  (0, 533439)	0.06076489187161468
  (0, 488148)	0.2729092231853667
  (0, 272528)	0.2392918460443005
  (0, 58906)	0.04045701296072861
  (0, 111950)	0.12817477591058646
  (0, 251905)	0.13151423134101511
  (0, 202189)	0.3596344712497114
  (0, 293515)	0.12473936897966988
  (0, 48415)	0.11413890646314521
  (0, 529346)	0.04131355198210769
  (0, 72734)	0.039095887526818605
  (0, 239271)	0.03828243630336539
  :	:
  (59070, 104416)	0.058420868157660545
  (59070, 475409)	0.06540595261294063
  (59070, 138876)	0.05818940237670459
  (59070, 180421)	0.06839657537189579
  (59070, 374462)	0.08662174700721018
  (59070, 152807)	0.07570103860367257
  (59070, 138613)	0.07301953777926398
  (59070, 386315)	0.0776446867655055
  (59070, 371801)	0.07550480580971032
  (59070, 307219)	0.08168880361445048
  (59070, 257176)	0.08301538601344288
  (59070, 156887)	0.0813530989585179
  (59070, 266516)	0.1725436605831432
  (59070, 336572)	0.08467171391668184
  (59070, 22951)	0.08899258648876075
  (59070, 250918)	0.08856031732938875
  (59070, 126942)	0.11236096668262405
  (59070, 419125)	0.08576694274518559
  (59070, 414198)	0.09578385169254329
  (59070, 193268)	0.11682978041254301
  (59070, 135471)	0.1047214791523812
  (59070, 149816)	0.4978770717711434
  (59070, 193286)	0.12446926794278584
  (59070, 149815)	0.12446926794278584
  (59070, 502351)	0.12446926794278584

Count of occcurence of 'the' in the entire corpus

In [58]:
print(tfidfVect.vocabulary_.get('the'))

488148

##Examine the TF-IDF for the Obama article

In [16]:
obama = people[people['name'] == 'Barack Obama']

Find list of words in obama

In [17]:
for words in obama.word_count.items():
    print(set(words[1].elements()))
    obama_words = set(words[1].elements())

{'briefs', 'august', 'with', '2009', 'bin', 'us', 'illinois', 'marriage', '1997', 'into', 'laureateduring', 'recovery', 'second', 'current', 'policy', 'often', 'debate', 'promoted', 'represent', 'earning', '2008', 'stimulus', 'down', 'sought', 'constitutional', 'served', 'attorney', 'levels', 'californias', 'barack', 'nobel', 'operation', 'by', 'began', 'arms', 'january', 'included', 'tax', 'as', 'won', 'consumer', 'obama', 'protection', 'republican', 'first', 'creation', 'american', 'signed', 'tell', '2012obama', 'sworn', 'elementary', 'called', 'relations', 'act', 'after', 'job', 'foreign', 'ended', 'term', 'organizer', 'street', 'republicans', 'legislation', 'prize', 'insurance', '1996', 'taxpayer', 'withdrawal', 'sufficient', 'peace', 'sandy', 'march', 'equality', 'continued', 'office', 'unemployment', '2010', 'court', 'libya', 'delegates', 'attention', 'start', '2004', 'unsuccessfully', 'islamic', '44th', 'representing', 'degree', 'nations', 'two', 'university', 'total', 'victory', 'to', 'from', 'convention', 'defeated', 'hillary', 'reinvestment', 'initiatives', 'in', 'dont', 'hook', '1992', 'lengthy', 'community', 'honolulu', 'is', 'spending', 'chicago', 'senate', 'iraq', 'involvement', '2011', 'administration', 'nominee', 'which', 'close', 'husen', 'a', 'clinton', 'keynote', 'domestic', 'russia', 'care', 'defeating', 'wall', 'seats', 'reelected', 'referred', '2012', 'at', 'full', 'proposition', 'related', 'reform', 'supreme', 'rodham', 'shooting', 'law', 'november', 'gun', 'doddfrank', 'relief', 'received', 'where', 'and', 'representatives', 'before', 'district', 'months', 'while', 'patient', 'americans', 'inaugurated', 'ask', 'taught', 'address', 'war', 'process', 'was', 'other', 'columbia', 'primary', 'new', 'urged', 'or', 'raise', 'hussein', 'gains', '2013', 'death', 'federal', 'his', 'whether', 'romney', 'form', 'limit', '20', 'hawaii', 'harvard', 'party', 'filed', 'presidential', 'national', 'the', 'for', 'military', 'osama', 'house', 'defense', 'state', 'nine', 'campaign', 'treaty', 'during', '13th', 'civil', 'bm', 'major', 'states', 'that', 'combat', 'primaries', 'strike', '8', '1961', 'great', 'named', 'recession', 'not', 'brk', 'unconstitutional', 'election', 'three', 'terms', 'democratic', 'hold', '4', 'then', 'troop', 'debt', '2000in', 'laden', 'has', 'running', 'repeal', 'regained', 'john', 'school', '2007', 'operations', 'on', 'increased', 'against', 'reauthorization', 'normalize', 'united', 'years', 'general', 'cuba', 'mccain', 'nomination', 'over', 'response', '63', 'lost', 'resulted', 'african', 'born', 'he', 'rights', 'president', 'economic', 'ordered', 'budget', 'ii', 'lgbt', 'graduate', 'control', 'policies', 'review', 'mitt', 'receive', 'affordable', 'july', 'obamacare', 'worked', 'ending', 'of', 'made', 'afghanistan'}

In [18]:
obama

,URI,name,text,word_count
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...,"{'barack': 1, 'hussein': 1, 'obama': 9, 'ii': ..."

Get Tfidf for Obama's text..
fit with corpus and trasnform with obama's text

In [19]:
obama_tfidfVect = TfidfVectorizer()
obama_tfidfVect = obama_tfidfVect.fit(people['text'])
obama_tfidf = obama_tfidfVect.transform(obama['text'])

In [20]:
obama_tfidf.max()

0.3650175898187781

Vocabulary of the corpus with frequencies

In [ ]:
obama_tfidfVect.vocabulary_
obama_tfidf_table = pd.DataFrame(sorted(obama_tfidfVect.vocabulary_.items(),key=lambda pair: pair[1],reverse=True))
obama_tfidf_table

In [ ]:
print(obama_tfidf)

In [21]:
feature_names = obama_tfidfVect.get_feature_names()
for col in obama_tfidf.nonzero()[1]:
    print(feature_names[col], ' - ', obama_tfidf[0, col])

13th  -  0.04155223560328909
1961  -  0.03016581962187603
1992  -  0.02289189867875382
1996  -  0.021894640640149326
1997  -  0.021852752342990073
20  -  0.04806514415164882
2000in  -  0.05056331448649607
2004  -  0.056353284811914046
2007  -  0.017372040001768754
2008  -  0.01752122556256475
2009  -  0.053716110129215185
2010  -  0.036208432821067116
2011  -  0.0566046837038299
2012  -  0.0195067923551467
2012obama  -  0.07885433263257774
2013  -  0.020629112598581526
44th  -  0.05624071615493585
63  -  0.04341764575235663
act  -  0.2490890416206761
address  -  0.040499804202992096
administration  -  0.029988224032272276
affordable  -  0.04976117912769321
afghanistan  -  0.07971048613465608
african  -  0.03199054994063867
after  -  0.05430461125327095
against  -  0.021001902062722264
american  -  0.04456160767469354
americans  -  0.04021821930188391
and  -  0.14673880270062417
arms  -  0.04209027344177608
as  -  0.047221719116605276
ask  -  0.04542634533461067
at  -  0.016971534950574383
attention  -  0.030906937432353912
attorney  -  0.03252893897573361
august  -  0.020947537066985555
barack  -  0.04234754735991505
before  -  0.017433021692964398
began  -  0.019043559436607946
bin  -  0.046162010306655184
bm  -  0.0571146501850359
born  -  0.017709931271046624
briefs  -  0.05886941781028262
brk  -  0.0760232295807462
budget  -  0.03855605726827532
by  -  0.009597572040438845
californias  -  0.04830122507691852
called  -  0.021494206403410984
campaign  -  0.08432957751302084
care  -  0.03432379932795829
chicago  -  0.0548648391973696
civil  -  0.03019203216982337
clinton  -  0.03868780380436277
close  -  0.0317075550519357
columbia  -  0.029552554027124527
combat  -  0.041403493331669206
community  -  0.025785593019571333
constitutional  -  0.03859969715570185
consumer  -  0.040163239811057086
continued  -  0.02597680547563224
control  -  0.1318571790693225
convention  -  0.037813869774262744
court  -  0.027204039881390224
creation  -  0.03515436452758149
cuba  -  0.04191214237148263
current  -  0.026746457660782343
death  -  0.02902206618575324
debate  -  0.040371683924716135
debt  -  0.046162010306655184
defeated  -  0.030766529498723667
defeating  -  0.03689864025114098
defense  -  0.033470484407228135
degree  -  0.02109048938725955
delegates  -  0.04981551682806423
democratic  -  0.11457527543739672
district  -  0.026352926305256295
doddfrank  -  0.07401452999849217
domestic  -  0.07655771702893438
dont  -  0.07177263687921645
down  -  0.0275618502261183
during  -  0.032362102172086446
earning  -  0.0339092259163596
economic  -  0.0298150337512502
election  -  0.07479547131181367
elementary  -  0.041602528924637824
ended  -  0.030321246776016168
ending  -  0.038721132551457545
equality  -  0.04425096769055315
federal  -  0.028547184703298367
filed  -  0.03984215522983335
first  -  0.035517610776050694
for  -  0.029964410726194306
foreign  -  0.058518515370798094
form  -  0.029558547468916622
from  -  0.02710027260881693
full  -  0.02794850759724801
gains  -  0.05383291599257232
general  -  0.02248728710913933
graduate  -  0.025659251184685417
great  -  0.02630949296359495
gun  -  0.043752863368463554
harvard  -  0.060279410221605254
has  -  0.03989687916800934
hawaii  -  0.040528597477852646
he  -  0.05930502949224121
hillary  -  0.04884914208757114
his  -  0.09697568415459205
hold  -  0.0359160622939971
honolulu  -  0.04800040000034542
hook  -  0.05087369266246481
house  -  0.04643816265096817
husen  -  0.07885433263257774
hussein  -  0.049707261027650385
ii  -  0.030074842969882668
illinois  -  0.06618483009121316
in  -  0.20967299876631698
inaugurated  -  0.05074788098373346
included  -  0.02405025755442083
increased  -  0.04013591155989306
initiatives  -  0.0411466419619593
insurance  -  0.03905178766706948
into  -  0.018189015148892065
involvement  -  0.11018747157297994
iraq  -  0.15180855532927304
is  -  0.014350365063062639
islamic  -  0.04038580396847466
january  -  0.06043896784624722
job  -  0.03104651580552264
john  -  0.020885795895361572
july  -  0.020546980888617943
keynote  -  0.04489436539895879
laden  -  0.053736606062068176
laureateduring  -  0.07885433263257774
law  -  0.14468744228550123
legislation  -  0.039699785233838006
lengthy  -  0.04787533947639497
levels  -  0.03942346877640728
lgbt  -  0.0459707008255436
libya  -  0.05113232812875007
limit  -  0.04435000990802586
lost  -  0.02605441812640057
made  -  0.017594328682917024
major  -  0.021352085989831376
march  -  0.020649169658718807
marriage  -  0.03571046798871844
mccain  -  0.05413008251037212
military  -  0.11949751478498162
mitt  -  0.05444046068634086
months  -  0.02822531330020501
named  -  0.021155875308720613
national  -  0.030528412104160435
nations  -  0.030452897768706143
new  -  0.01317718730614831
nine  -  0.02975927370928068
nobel  -  0.04240393280166755
nomination  -  0.03329935229449533
nominee  -  0.07978930883791377
normalize  -  0.0760232295807462
not  -  0.018070004724243933
november  -  0.04151085000455398
obama  -  0.3650175898187781
obamacare  -  0.06917472736440658
of  -  0.1262048162788276
office  -  0.05060632290852004
often  -  0.02696839707953239
on  -  0.0165399428357477
operation  -  0.037405539372242065
operations  -  0.03359228822633021
or  -  0.020338172922802798
ordered  -  0.12237967144422175
organizer  -  0.04536840011193823
osama  -  0.05301051252299481
other  -  0.017053337660265806
over  -  0.017370469932596208
party  -  0.07025335421913445
patient  -  0.04632553907512221
peace  -  0.03345999250554088
policies  -  0.03951020727394028
policy  -  0.05652015236964582
president  -  0.07838762808221296
presidential  -  0.06553383490863172
primaries  -  0.05345539922952326
primary  -  0.060817475446988574
prize  -  0.026149442540259183
process  -  0.033127314450510044
promoted  -  0.03155027897657698
proposition  -  0.055223303940976624
protection  -  0.07468253999393737
raise  -  0.03961067460811536
reauthorization  -  0.06835232389482908
receive  -  0.038032396718928885
received  -  0.017732392412269083
recession  -  0.053274029051526436
recovery  -  0.04259524228277913
reelected  -  0.032691380714824456
referred  -  0.03668742150630729
reform  -  0.03555307207854681
regained  -  0.045939319382791055
reinvestment  -  0.06526728888599023
related  -  0.03297895846034851
relations  -  0.03103909959743396
relief  -  0.07568653845020705
repeal  -  0.05776464096246222
represent  -  0.036189617337025304
representatives  -  0.06621470115825652
representing  -  0.03166283527644951
republican  -  0.06428161264467938
republicans  -  0.046002223945718804
response  -  0.11018747157297994
resulted  -  0.03501544043324245
review  -  0.02951670101248744
rights  -  0.02839326900909682
rodham  -  0.06042748625190464
romney  -  0.05465531946214981
running  -  0.030381700480576222
russia  -  0.035081250149998515
sandy  -  0.04531093181008557
school  -  0.046560048182063274
seats  -  0.041877055065189774
second  -  0.03731865208110925
senate  -  0.09190764690847711
served  -  0.03541746726645982
shooting  -  0.0396614556265558
signed  -  0.0736804977619208
sought  -  0.03718760669840457
spending  -  0.036135580013903025
start  -  0.029890079982958645
state  -  0.018915076447791442
states  -  0.05916108985966405
stimulus  -  0.060182466050107186
street  -  0.029673411380381636
strike  -  0.042054281819511014
sufficient  -  0.05182421641031827
supreme  -  0.03430602496301227
sworn  -  0.041602528924637824
taught  -  0.026869791956132195
tax  -  0.03871000528335109
taxpayer  -  0.058672718626657905
tell  -  0.040514185998517596
term  -  0.08601050224836597
terms  -  0.033678292199073284
that  -  0.011600429362851402
the  -  0.2793227400023615
then  -  0.01697328837386998
three  -  0.017396683956700423
to  -  0.10234195997379708
total  -  0.029858712637936703
treaty  -  0.048127741388636854
troop  -  0.05743208481361034
two  -  0.014655274648249124
unconstitutional  -  0.054547063661735964
unemployment  -  0.053274029051526436
united  -  0.05378911724218047
university  -  0.025797309845256983
unsuccessfully  -  0.040703896038719864
urged  -  0.05020820274602382
us  -  0.12283397315748205
victory  -  0.030611437909360658
wall  -  0.0350548517848713
war  -  0.026599705713814686
was  -  0.03768254961844391
where  -  0.014586447600086849
whether  -  0.04009511869259415
which  -  0.012340701548516048
while  -  0.019805133007058398
with  -  0.02518812459925273
withdrawal  -  0.05074788098373346
won  -  0.016643077961069105
worked  -  0.017832308630830872
years  -  0.014490176160134262

Get highest ranking words in obama text using TF IDF

In [23]:
import numpy as np

In [24]:
feature_array = np.array(feature_names)
tfidf_sorting = np.argsort(obama_tfidf.toarray()).flatten()[::-1]
top_n = feature_array[tfidf_sorting][:10]
top_n

array(['obama', 'the', 'act', 'in', 'iraq', 'and', 'law', 'control', 'of',
       'us'], dtype='<U2140')

Words with highest TF-IDF are much more informative.

# #Build a nearest neighbor model for document retrieval

We now create a nearest-neighbors model and apply it to document retrieval.

In [63]:
#from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors

In [67]:
nbrs = NearestNeighbors(n_neighbors=10).fit(tfidf)

Find 10 nearest neighbours to Obama

In [69]:
distances, indices = nbrs.kneighbors(obama_tfidf)
distances,indices

(array([[0.        , 1.06843875, 1.1098956 , 1.11802815, 1.13996938,
         1.14776932, 1.1503744 , 1.15493924, 1.15776052, 1.15967833]]),
 array([[35817, 24478, 57108, 38376, 38714, 28447, 39357, 48693, 18827,
         46811]], dtype=int64))

In [71]:
names_similar = pd.Series(indices.flatten()).map(people.reset_index()['name'])
names_similar

0               Barack Obama
1                  Joe Biden
2     Hillary Rodham Clinton
3             Samantha Power
4    Eric Stern (politician)
5             George W. Bush
6                John McCain
7                Artur Davis
8               Henry Waxman
9              Jeff Sessions
dtype: object

In [76]:
result = pd.DataFrame({'distance':distances.flatten(), 'name':names_similar})
result[1:]

   distance                     name
1  1.068439                Joe Biden
2  1.109896   Hillary Rodham Clinton
3  1.118028           Samantha Power
4  1.139969  Eric Stern (politician)
5  1.147769           George W. Bush
6  1.150374              John McCain
7  1.154939              Artur Davis
8  1.157761             Henry Waxman
9  1.159678            Jeff Sessions

#Applying the nearest-neighbors model for retrieval

##Who is closest to Obama?

As we can see, president Obama's article is closest to the one about his vice-president Biden, and those of other politicians.